/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: rgb(252, 236, 236);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.pointer{
    cursor: pointer;
}
header{
    background-color: rgb(208, 208, 208);
    a{
        text-decoration: none;
    }
    h1>a{
        color: #000;
    }

}
.logged{
    display: none;
    li:first-child{
       display: none; 
    }
}
.viewList,.savedList{
    li{
        border: 1px solid rgb(255, 173, 173);
        width: 32%;
        background-color: #fff;
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        img{
            width: 100%;
            max-height:150px;
            margin-bottom: 1rem;
        }
    }
}
.errorMsg{
    color: red;
}
.saveArticle{
    display: none;
}
.deskNav{
    background-color: rgb(0, 0, 0);
    color: #fff;
    a{
        color: #fff;
    }
}
.allArticles{
    tr:hover {
        background-color: rgb(206, 206, 206);
    }
    th{
        border-bottom: 1px solid #000;
        background-color: rgb(237, 237, 237);
        padding: .5rem 0;
        font-weight: 600;
    }
    td{
        vertical-align:middle;
        padding: .3rem;
        &:nth-child(2){
            width: 5%;
            text-align: center;
        }
       &:nth-child(3){
            width: 80%;
        }
        &:first-child{
            color: rgb(255, 69, 69);
            font-weight: 600;
        }
    }
}
.articleBody{
    padding: .5rem;
    border: 3px dashed rgb(255, 173, 173);
}
.indexBtn{
    border: 1px solid rgb(255, 173, 173);
    border-radius: 5px;
    padding: .5rem 1rem;
    color: rgb(255, 173, 173);
    text-decoration: none;
    font-weight: 600;
    &:hover{
        background-color: rgb(255, 173, 173);
        color: #fff;
    }
}